{# @var craft \craft\web\twig\variables\CraftVariable #}
{% set pageClass = 'app-showsfeed' %}

{% set activeFilter = craft.request.getParam('filter') %}

{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
  <style>
    {{ source ("_pages/careers/index_critical.min.css", ignore_missing = true) }}
  </style>
{% endblock %}

{% block content %}

  {#Hero#}
  {% set thumb = {
    mode: 'fit',
    width: 2000,
    quality: 75,
    position: 'center-center'
  } %}
  {% set image = entry.backgroundImage|length ? entry.backgroundImage.one.getUrl(thumb) : '/img/site/blog-hero-default.png' %}
  {% set vars = {
    'backgroundImage': image,
    'title': 'Careers'|t,
  } %}
  {% include '_partials/hero-banner' with vars %}

  <nav class="page-subnav for-stay share">
    <a class="nav-link">{{ 'Share:'|t }}</a>
    <a class="nav-link icon facebook" href="http://www.facebook.com/sharer/sharer.php?u={{ entry.url|url_encode }}&title={{ entry.title|url_encode }}"></a>
    <a class="nav-link icon linkedin" href="https://www.linkedin.com/shareArticle?url={{ entry.url|url_encode }}&title={{ entry.title|url_encode }}"></a>
    <a class="nav-link icon twitter" href="http://twitter.com/intent/tweet?status={{ entry.title|url_encode }}+{{ entry.url|url_encode }}"></a>
  </nav>

  <section class="careers-section">
    {#Introduction#}
    {% if entry.careersIntroTitle is not empty %}
      <h2 class="big-title"><span class="white-bg">{{ entry.careersIntroTitle }}</span></h2>
    {% endif %}
    {% if entry.careersIntro is not empty %}<p class="careers-intro">{{ entry.careersIntro|nl2br }}</p>{% endif %}

    {#Listing#}
    {% set jobs = craft.entries.section('careers') %}
    {% if jobs|length %}
      <section class="careers-listing">
        {% for job in jobs %}
          <article class="careers-item">
            <h3 class="careers-name">{{ job.title }}</h3>
            <section class="careers-infos">
              <p class="careers-type">{{ job.careersType }}</p>
              <p class="careers-location">{{ job.careersLocation }}</p>
            </section>
            <a href="{{ job.url }}" class="careers-link"><i class="icon-chevron-right"></i></a>
          </article>
        {% endfor %}
      </section>
    {% else %}
      <p
        class="careers-intro">{{ 'There is no job currently available. You can even submit an unsolicited application.'|t }}</p>
    {% endif %}
  </section>

  {#Spontaneous application#}
  <section class="contact-form-wrapper" id="contact-form">
    <section class="contact-form">
      <h3 class="big-title"><span>{{ 'Spontaneous application'|t }}</span></h3>
      <form class="site-form" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
        {#SUCCESS MESSAGE#}
        {% if craft.app.session.hasFlash('notice') %}
          <div class="alert-success" id="success">
            {{ 'Thank you! Your application has been sent successfully.'|t }}
          </div>
        {% endif %}
        {#HIDDEN INPUTS#}
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="contact-form/send">
        <input type="hidden" name="title" value="Candidature du {{ now.w3c }}">
        <input type="hidden" name="notice" value="{{ "success"|hash }}">
        {#ERROR MESSAGES#}
        {% macro errorList(errors) %}
          {% if errors %}
            <ul class="errors">
              {% for error in errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endmacro %}
        {% from _self import errorList %}
        <input type="hidden" name="message[formName]" value="Spontaneous applications">
        <input type="hidden" name="subject" value="{{ 'New spontaneous application'|t }}">
        <input id="secretHoneypotSpontaneousApplication" name="secretHoneypotSpontaneousApplication" type="text">
        {#INPUTS#}
        <input type="text" name="fromName" value="{{ message.fromName ?? '' }}"
               placeholder="{{ 'First and last name'|t }}" class="form-input" required>
        {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
        <input type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}" placeholder="{{ 'Email'|t }}"
               class="form-input" required>
        {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
        <input type="tel" name="message[Phone]" value="" placeholder="{{ 'Phone'|t }}" class="form-input"
               value="{{ message.message.Phone ?? '' }}" required>
        {{ message is defined and message ? errorList(message.getErrors('message.Phone')) }}
        <div class="form-input file-section">
          <label for="careersResume">{{ 'Add your resume'|t }}</label>
          <input type="file" id="careersResume" name="attachment" required>
        </div>
        {{ message is defined and message ? errorList(message.getErrors('attachment')) }}
        <textarea name="message[body]" placeholder="Message" class="form-textarea">
          {{ message.message.body ?? '' }}
        </textarea>
        {{ message is defined and message ? errorList(message.getErrors('message.body')) }}
        <button type="submit" class="site-btn">{{ 'Submit'|t }}</button>
      </form>
    </section>
  </section>

{% endblock %}

{% block _inline_js %}
{% endblock %}
