{# Panel text #}
<section class="site-block block-panelsRow001">
  {% set panels = block.items.all() %}
  {% for panel in panels %}
    <article class="panel panel{{ loop.index }}">
      <div class="panel-left-col">
        {% if panel.image.first() %}
          <img class="panel-logo" src="{{panel.image.first().url()}}" alt="{{ panel.image.first().title }}">
        {% elseif panel.heading %}
          <h3>{{ panel.heading }}</h3>
        {% endif %}
      </div>
      <div class="panel-right-col regular-text">
        {{ panel.text|raw }}
      </div>
    </article>
  {% endfor %}
</section>
